html {
  background-color: rgb(242, 232, 207);
  font-family: Georgia;
}
.navbar li {
    display: inline;
    border: solid;
    padding: 3px 5px 3px 5px;
    background-color: rgb(167, 201, 87);
    margin-right: 2px;
}
.navbar {
    background-color: rgb(56, 102, 65);
    padding: 10px;
    width: 555px;
}
.navbar a {
    color: black;
    text-decoration: none;
}
#pageheader {
  font-weight: bold;
}
h1,h2,h3,h4,h5 {
  color: rgb(188, 71, 73);
  font-weight: 500;
}
section.content {
    width: 50%;
    background-color: rgb(167, 201, 87);
    border: solid;
    padding: 0 20px;
    text-align: justify;
}
aside {
    background-color: rgb(167, 201, 87);
    width: 300px;
    padding: 1px 15px 1px 15px;
    margin-top: 20px;
    border: solid;
}
figure {
  float: right;
  max-width: 30%;
  height: auto;
  margin: 0.5em;
  padding: 0.5em;
}
footer {
  padding: 20px 0 20px 0;
}
